body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

/* Стили для основной картинки */
.post img {
    max-width: 100%; /* Картинка подстраивается под ширину родительского контейнера */
    height: auto; /* Сохранение пропорций при изменении размера */
    display: block; /* Убираем лишние отступы */
    margin: 0 auto; /* Расположение по центру */
}

/* Стили для картинок аватаров в комментариях */
.comments .comment img {
    max-width: 50px; /* Маленький размер аватара */
    height: auto; /* Сохранение пропорций */
    border-radius: 50%; /* Закругление углов для круглой формы */
    margin-right: 10px; /* Отступ справа */
    margin-left: 0; /* Смещение по левому краю */
}